<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= todo.title %></title>
  </head>
  <body>
    <div id="todo"><%- include('_todo') %></div>

    <form method="post" action="/update-todo/<%= todo.id %>">
      <h2>Upravit</h2>

      <% if(formValidationError){ %>
        <p style="color:red">Chyba formuláře: název todo musí být vyplněn</p>
      <% } %>
      
      <input type="text" name="title" placeholder="Název">
      <button type="submit">Uložit</button>
    </form>

    <hr>

    <a href="/">Zpět na seznam ToDos</a>

    <script>
      const ws = new WebSocket('ws://localhost:3000')

      ws.addEventListener('message', (ev) => {
        const message = JSON.parse(ev.data)
        if (message.type === 'todo' && message.id === Number('<%= todo.id %>')) {
          document.getElementById('todo').innerHTML = message.html
        } else if (message.type === 'todo-deleted' && message.id === Number('<%= todo.id %>')) {
          document.getElementById('todo').innerHTML = '<h1>Todo bylo smazáno</h1>'
        }
      })
    </script>
  </body>
</html>
