<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= todo.title %></title>
  </head>
  <body>
    <h1><%= todo.title %></h1>

    <div>
      <a href="/change-status/<%= todo.id %>">
        <%= todo.done ? 'Hotovo' : 'Nesplněno' %>
      </a>
      <a href="/remove-todo/<%= todo.id %>">
        Odebrat
      </a>
    </div>

    <form method="post" action="/update-todo/<%= todo.id %>">
      <h2>Upravit</h2>
      <input type="text" name="title" placeholder="Název" value="<%= todo.title %>">
      <select name="priority">
        <% for (const priority of priorities) { %> 
          <option value="<%= priority.id %>" <%= priority.id == todo.priority_id ? 'selected' : '' %>><%= priority.name %></option>
        <% } %>
        </select>
      <button type="submit">Uložit</button>
    </form>

    <hr>

    <a href="/">Zpět na seznam ToDos</a>
  </body>
</html>