<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos</title>
</head>
<body>
  <h1>Hello <%= name %>!</h1>
  <h2>Vyhledávání</h2>
  <form method="gest" action="/">
    <input type="radio" name="state" id="all" value="all" <%= queryState == 'all' ? 'checked' : '' %> >
      <label for="all">Vše</label><br>
    <input type="radio" name="state" id="done" value="1" <%= queryState == 1 ? 'checked' : '' %> >
      <label for="done">Splněno</label><br>
    <input type="radio" name="state" id="undone" value="0" <%= queryState == 0 ? 'checked' : '' %> >
      <label for="undone">Nesplněno</label><br />
    <input type="text" name="fulltext" id="fulltext" placeholder="Název todo" value="<%= queryFulltext %>" /><br />
    <input type="submit" value="Zobrazit" /> 
  </form>
  <ul>
    <% for (const todo of todos) { %>
      <li><a href="/detail-todo/<%= todo.id %>"><%= todo.title %> (<%= todo.priorityName %>)</a> | <a href="/remove-todo/<%= todo.id %>">Smazat</a> | <%= todo.done ? 'Hotovo' : 'Nesplněno' %> | <a href="/change-status/<%= todo.id %>">Změnit stav</a></li>
    <% } %>  
  </ul>

  <form method="post" action="/new-todo">
    <input type="text" name="title" />
    <select name="priority">
    <% for (const priority of priorities) { %>
      <option value="<%= priority.id %>"><%= priority.name %></option>
    <% } %>
    </select>
    <button type="submit">Přidat</button>
  </form>
</body>
</html>