<h1 class="title"><%= todo.title %></h1>

<span>Termín: <%= todo.deadline ? todo.deadline : 'žádný' %></span>

<div>
  <a href="/toggle-todo/<%= todo.id %>">
    <%= todo.done ? 'Hotovo' : 'Nesplněno' %>
  </a>
  <a href="/remove-todo/<%= todo.id %>">
    Odebrat
  </a>
</div>

<form method="post" action="/update-todo/<%= todo.id %>">
  <h2>Upravit</h2>
  <input type="text" name="title" placeholder="Název">
  <button type="submit">Uložit</button>
</form>