<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="title"><%= todo.title %></title>
  </head>
  <body>
    <div id="todo-wrapper" data-id="<%= todo.id %>"><%- include('_todo-detail') %></div>

    <hr>

    <a href="/">Zpět na seznam ToDos</a>

    <script>
      const ws = new WebSocket('ws://localhost:3000')

      ws.addEventListener('message', (ev) => {
        const message = JSON.parse(ev.data)
        if(message.id === Number('<%= todo.id %>')){

            if(message.type === "removedTodo"){

              document.getElementById('todo-wrapper').innerHTML = '<p>TODO již neexistuje, bylo smazáno.</p>'
              document.title = "Todo již neexistuje"

            } else if(message.type === "todo"){

              document.getElementById('todo-wrapper').innerHTML = message.html 
              document.title = message.title

            }

        }
      })
    </script>
  </body>
</html>
