<table>
  <% for (const todo of todos) { %>
    <% if (todo.user_id === user.id) { %>
      <tr>
        <td>
          <%= todo.title %>
        </td>
        <td>
          <%= todo.deadline ? todo.deadline : 'bez termínu' %>
        </td>
        <td>
          <a href="/detail-todo/<%= todo.id %>">
            Detail
          </a>
        </td>
        <td>
          <a href="/toggle-todo/<%= todo.id %>">
            <%= todo.done ? 'Hotovo' : 'Nesplněno' %>
          </a>
        </td>
        <td>
          <a href="/remove-todo/<%= todo.id %>">
            Odebrat
          </a>
        </td>
      </tr>
    <% } %>
  <% } %>
</table>
