<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrace</title>
</head>
<body>
  <h1>Registrace</h1>

  <form action="/register" method="post">
    <input type="text" name="username" placeholder="Uživatelské jméno">
    <input type="password" name="password" placeholder="Heslo">
    <button type="submit">Registrovat se</button>
  </form>

  <p>Máte již účet? <a href="/login">Přihlásit se</a></p>

  <hr>

  <a href="/">Zpět na ToDočka</a>
</body>
</html>
